@import "../_variables";
@import "./variables";
@import "node_modules/bootstrap-sass/assets/stylesheets/_bootstrap";
@import "node_modules/font-awesome/scss/font-awesome";
@import "node_modules/animate.css/animate";

.glow {
    filter: drop-shadow(6px 6px 10px #ffeb00);
    -webkit-filter: drop-shadow(6px 6px 10px #ffeb00);
    -moz-filter: drop-shadow(6px 6px 10px #ffeb00);
    -ms-filter: drop-shadow(6px 6px 10px #ffeb00);
}