<div class="concepts-modal">
    <div class="close-button hoverable">
        <i class="fa fa-times"></i>
    </div>
    <h1 class="animated bounceIn">Conceptos Obtenidos</h1>
    <div class="concepts animated bounce"></div>
</div>